<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <p><button onclick="findTeams()">Find nearest team</button></p>
<div id="candidates_frame"></div>
  </body>
</html>
